  /* Overall styling */
  * {
      font-family: 'Work Sans', sans-serif;
      padding: 0%;
      margin: 0%;

  }

  /* banner section styling */

  .banner_section {
      background-image: url('../images/banner/banner1.png');
      width: 100%;
      height: 800px;
      background-repeat: no-repeat;
      background-size: cover;
  }

  /* Banner Heading Section style */

  .banner_section h2 {
      width: 490px;
      height: 115px;
      font-weight: 600;
      font-size: 45px;
      color: #151414;
      padding-left: 670px;
      padding-top: 216px;
      padding-right: 200px;
      text-align: right;
  }

  /* Banner Paragraph section style */

  .banner_section p {
      font-weight: 400;
      font-size: 16px;
      text-align: right;
      width: 490px;
      height: 70px;
      color: #444343;
      padding-left: 670px;
      padding-top: 16px;
      padding-right: 200px;
  }

  .banner_section .primary_btn {
      height: 50px;
      width: 160px;
      background: #F15B22;
      border-radius: 5px;
      margin-left: 1000px;


  }

  /* Failer section designing */
  .failer_container {
      display: flex;
  }

  .failer_container .failer_image {
      width: 569px;
      height: 723.3px;
      margin-top: 90px;
      margin-left: 130px;
  }

  .failer_container .failer_info {
      width: 3000px;
      height: 400px;
      margin-top: 370px;
      margin-left: 100px;
      margin-right: 120px;


  }

  .failer_title {
      font-weight: 600;
      font-size: 35px;
      color: #151414;
      margin-bottom: 20px;

  }

  .failer_desc {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #444343;
      margin-bottom: 10px;
  }

  .failer_list {
      width: 349px;
      height: 162px;
      color: #444343;
      margin-left: 17px;

  }

  /* My Plane Section Design */

  .my_plan_section {
      margin-top: 130px;
      width: 1141px;
      height: 299.96px;
      margin-left: 280px;

  }

  .plan_container {
      display: flex;



  }

  .plan {
      width: 224px;
      height: 197px;
      margin-top: 30px;
  }

  .plan_title {
      font-weight: 700;
      font-size: 26px;
      color: #151414;



  }

  .plan_description {
      font-weight: 400;
      font-size: 18px;

      color: #737272;
  }

  .plan_section_title {
      font-weight: 700;
      font-size: 40px;
      color: #151414;
      margin-left: 300px;

  }

  /* Mindset section design */
  .mindset_section {
      width: 1040px;
      height: 250px;
      background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
      border-radius: 8px;
      margin-left: 130px;
      margin-top: 70px;
      background-image: url('../images/watch.png');
  }

  .mindset_sub_section {
      width: 459px;
      height: 200px;
      /* border: 3px solid greenyellow; */
      margin-left: 40px;

  }

  .mindset_title {
      font-weight: 700;
      font-size: 40px;
      color: #FFFFFF;
      padding-top: 45px;

  }

  .call_btn {
      width: 160px;
      height: 64px;
      margin-top: 10px;
      font-weight: 600;
      font-size: 20px;
      text-align: center;
      color: #F15B22;

  }
  /* Footer Section Style */